[submodule "thirdparty/xfeat"]
	path = thirdparty/xfeat
	url = https://github.com/verlab/accelerated_features.git
[submodule "thirdparty/hardnet"]
	path = thirdparty/hardnet
	url = https://github.com/DagnyT/hardnet
[submodule "thirdparty/tfeat"]
	path = thirdparty/tfeat
	url = https://github.com/vbalnt/tfeat
[submodule "thirdparty/superglue"]
	path = thirdparty/superglue
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "thirdparty/d2net"]
	path = thirdparty/d2net
	url = https://github.com/mihaidusmanu/d2-net.git
[submodule "thirdparty/lightglue"]
	path = thirdparty/lightglue
	url = https://github.com/cvg/lightglue.git
